{% extends 'base.html' %}

{% block title %}
    {{ title}}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="container">
        <form method="post"> {% csrf_token %}
            <div class="mb-3 row">
                <label for="{{ form.nombre.id_for_label }}" class="col-sm-2 col-form-label">
                    {{ form.nombre.label }}
                </label>
                <div class="col-sm-10">
                    {{ form.nombre }}
                    <div id="nombre_errors" class="form-text">{{ form.nombre.errors }}</div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.sexo.id_for_label }}" class="col-sm-2 col-form-label">
                    {{ form.sexo.label }}
                </label>
                <div class="col-sm-10">
                    {{ form.sexo }}
                    <div id="sexo_errors" class="form-text">{{ form.sexo.errors }}</div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.edad.id_for_label }}" class="col-sm-2 col-form-label">
                    {{ form.edad.label }}
                </label>
                <div class="col-sm-10">
                    {{ form.edad }}
                    <div id="edad_errors" class="form-text">{{ form.edad.errors }}</div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.fecha_rescate.id_for_label }}" class="col-sm-2 col-form-label">
                    {{ form.fecha_rescate.label }}
                </label>
                <div class="col-sm-10">
                    {{ form.fecha_rescate }}
                    <div id="fecha_rescate_errors" class="form-text">{{ form.fecha_rescate.errors }}</div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.persona.id_for_label }}" class="col-sm-2 col-form-label">
                    Asignado a:
                </label>
                <div class="col-sm-10">
                    {{ form.persona }}
                    <div id="persona_errors" class="form-text">{{ form.persona.errors }}</div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.vacunas.id_for_label }}" class="col-sm-2 col-form-label">
                    Vacunas aplicadas
                </label>
                <div class="col-sm-10">
                    {{ form.vacunas }}
                    <div id="vacunas_errors" class="form-text">{{ form.vacunas.errors }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <a href="{% url 'mascota_list' %}" class="btn btn-outline-primary">
                        Cancelar
                    </a>
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-primary" type="submit">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock  %}
