{% extends 'base.html' %}

{% block title %}Introducción a ¿Vue.js o HTMX? con Django{% endblock %}

{% block content %}
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img width="40" height="32" src="https://cdn.worldvectorlogo.com/logos/django.svg" alt="Django logo vector">
            <span class="fs-4">Introducción a ¿Vue.js o HTMX? con Django</span>
        </a>
    </header>

    <main>
    </main>

    <footer class="pt-5 my-5 text-muted border-top"></footer>
</div>

{% endblock  %}

